@import "src/styles/config";

.error {
  @include animation__hint;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  border: 1px dashed $error;
  border-radius: $radius;

  &__header {
    color: $error;
    font-size: inherit;
    font-weight: 500;
  }

  @include tablet {
    padding: 8px;
    font-size: 18px;
  }
}
