@import "src/styles/config";

.auth {
  @include stretch;
  @include flex__center;
  @include wrapper;

  &__wrapper {
    @include flex__center;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: $radius;
    box-shadow: 0 40px 90px $shadow;

    @include tablet {
      padding: 40px;
    }
  }
}

.error {
  @include animation__hint;
  padding: 5px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
  border: 1px dashed $error;
  border-radius: $radius;

  &__header {
    color: $error;
    font-size: inherit;
    font-weight: 500;
  }

  @include tablet {
    padding: 8px;
    font-size: 18px;
  }
}

.message {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 400;

  @include mobile {
    width: 400px;
  }

  @include tablet {
    width: 600px;
    font-size: 24px;
    line-height: 32px;
  }
}

.login-btn {
  @include btn__primary;
  margin-top: 30px;
  padding: 12px 30px;
  font-weight: 500;
  font-size: 16px;

  @include tablet {
    padding: 18px 45px;
    font-size: 20px;
  }
}

.loading {
  @include animation__loading(11px);
  margin-top: 20px;

  @include tablet {
    @include animation__loading(16px);
  }
}
