@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.woff") format('woff');
  src: url("../font/Roboto-Regular.woff2") format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Medium.woff") format('woff');
  src: url("../font/Roboto-Medium.woff2") format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.woff") format('woff');
  src: url("../font/Roboto-Bold.woff2") format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Black.woff") format('woff');
  src: url("../font/Roboto-Black.woff2") format('woff2');
  font-weight: 900;
}
