@import "media";

@mixin stretch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin wrapper {
  min-width: 320px;
  margin: 0 auto;
  padding: 20px;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    max-width: 768px;
  }

  @include laptop {
    max-width: 1000px;
  }

  @include desktop {
    max-width: 1342px;
  }
}

@mixin primary-btn {
  color: #fff;
  background-color: $primary;
  transition: background-color $transition;

  @include touch {
    &:active {
      background-color: lighten($primary, 15%);
    }
  }

  @include non-touch {
    &:hover {
      background-color: darken($primary, 15%);
    }

    &:focus {
      background-color: lighten($primary, 15%);
    }
  }
}
