@mixin flex__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
