@import "src/styles/config";

.not-found {
  @include stretch;
  @include flex__center;
  @include wrapper;

  &__wrapper {
    min-width: 280px;
    padding: 30px 20px;
    text-align: center;
    background-color: #fff;
    border-radius: $radius;
    box-shadow: 0 40px 90px $shadow;

    @include tablet {
      padding: 40px;
    }
  }
}

.header {
  margin-bottom: 10px;
  color: $secondary;
  font-weight: 900;
  font-size: 32px;

  @include mobile {
    font-size: 48px;
    margin-bottom: 20px;
  }

  @include tablet {
    font-size: 56px;
    margin-bottom: 30px;
  }

  @include laptop {
    font-size: 64px;
    margin-bottom: 40px;
  }
}

.message {
  font-size: 18px;

  @include tablet {
    font-size: 24px;
  }

  &__path {
    color: $primary;
    font-size: 20px;
    font-weight: 700;

    @include tablet {
      font-size: 28px;
    }
  }
}
